<!DOCTYPE html>
<html lang="en">

<head>
    <title>Accomodation</title>
    <meta charset="UTF-8">
    <link href="static/styles.css" rel="stylesheet" type="text/css">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <script src="https://kit.fontawesome.com/e09918d621.js" crossorigin="*"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="static/js/filterdetails.js"></script>
</head>

<body>
    <div class="container">
        <nav class="navigation">
            <ul>
                <li class="leftalignIL">
                    <a href="/">Home</a>
                </li>
                <li class="rightalignIL">
                    <a href="#foot">Contact Us</a>
                </li>
            </ul>
        </nav>

        <article class="">
            <div id="mydiv" class="contentDiv">
            </div>

        </article>
        <footer id="foot" class="footer">
            45 Amiens Street<br />
            Near Connolly Station<br />
            Dublin 01<br />
            Tel : 0897777777 , Fax : +1 323 555 1234<br />
            Email : contactus@buynrenthouse.com
        </footer>
        <div id="divimg" class="Chatplug">
            <i class="far fa-comments" onclick="openForm()"></i>
        </div>

        <div class="chat-popup" id="myForm">
            <div class="chatbox__header">
                🏡Property Chat Helper
            </div>
            <div id="chatbox" class="chatboxDiv"></div>

            <div class="form-container" style=" border-radius: 5px; ">
                <div class="chats" id="chats">
                    <div class="clearfix"></div>
                </div>
                <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
            </div>
        </div>
    </div>
    <script>
        var type = "";
        var amount = "";
        function showQuickReplies() {
            var quickRepliesData = ['Rent', 'Buy']
            let chips = "";
            for (let i = 0; i < quickRepliesData.length; i += 1) {
                const chip = `<div class="chip" data-payload='${quickRepliesData[i]}'>${quickRepliesData[i]}</div>`;
                chips += chip;
            }
            const quickReplies = `<div class="quickReplies">${chips}</div><div class="clearfix"></div>`;
            $(quickReplies).appendTo(".chats").fadeIn(1000);

            const terminalResultsDiv = document.getElementById("chats");
            terminalResultsDiv.scrollTop = terminalResultsDiv.scrollHeight;
        }
        // on click of quickreplies, get the payload value and send
        $(document).on("click", ".quickReplies .chip", function () {
            const text = this.innerText;
            if (text == "Click To View Results") {
                window.open("/filter?typee=" + type + "&price=" + amount + "", '_blank').focus();
                $(".quickReplies").remove();
                var initialText = "Do you need more assistance?";
                var userHtml = '<p class = "userText"><span>' + initialText + '</span></p>';
                $("#chatbox").append(userHtml);
                var quickRepliesData = ['Yes', 'No']
                let chips = "";
                for (let i = 0; i < quickRepliesData.length; i += 1) {
                    const chip = `<div class="chip" data-payload='${quickRepliesData[i]}'>${quickRepliesData[i]}</div>`;
                    chips += chip;
                }
                const quickReplies = `<div class="quickReplies">${chips}</div><div class="clearfix"></div>`;
                $(quickReplies).appendTo(".chats").fadeIn(1000);
                const terminalResultsDiv = document.getElementById("chats");
                terminalResultsDiv.scrollTop = terminalResultsDiv.scrollHeight;
            }
            else if(text=="Thank You for contacting us! Have a nice day :)")
            {
                $(".quickReplies").remove();
                var userHtml = '<p class = "userText"><span>' + text + '</span></p>';
                $("#chatbox").append(userHtml);
            }
            else {
                const payload = this.getAttribute("data-payload");
                setUserResponse(text);
                getBotResponse(text);
                $(".quickReplies").remove();
            }
        });
        //Making dynamic html code using the json data
        function chatProps(jsonData) {
            if (jsonData.length > 0) {
                for (var i = 0; i < jsonData.length; i++) {
                    debugger;
                    var mhtml = "";
                    //console.log(jsonData[i].id);
                    var alt = 'Address: ' + jsonData[i].data.address + "<br />" + ' County: ' + jsonData[i].data.county + ' Area: ' + jsonData[i].data.area + "<br />";
                    var alt1 = jsonData[i].data.numBedroom + 'BHK' + ' For ' + jsonData[i].data.type + ' Price: ' + jsonData[i].data.maxPrice;
                    mhtml += '<div class="imgDiv"><a href=details?id=' + jsonData[i].id + '><img src="' + jsonData[i].data.photo[0] + '" href=details?id=' + jsonData[i].id + '/></a>';
                    mhtml += '<a href=details?id=' + jsonData[i].id + ' style="color:blue;font-weight:15pt;">' + alt + '</a>';
                    mhtml += '<a href=details?id=' + jsonData[i].id + '>' + alt1 + '</a></div>';
                    $('#mydiv').append(mhtml);
                }
                $("#lblMsg").css('visibility', 'hidden');
            }
            else {
                var mhtml = "";
                mhtml += '<div class="lblDiv"><label class="lblMsg">Sorry!!! No properties available under this category</label></div>';
                $('#mydiv').append(mhtml);
            }
        }
        function setUserResponse(message) {
            const user_response = `<img class="userAvatar" src="static/img/userAvatar.jpg"><p class="userMsg">${message} </p><div class="clearfix"></div>`;
            $("#chatbox").append(user_response);
            //scrollToBottomOfResults();
            //showBotTyping();
            $(".suggestions").remove();
        }
        function openForm() {
            document.getElementById("myForm").style.display = "block";
            document.getElementById("divimg").style.display = "none";
            document.getElementById("chatbox").innerHTML = "";
            document.getElementById("chats").innerHTML = "";
            var initialText = "Hello Welcome to Buy or Rent. What would you like to do?";
            var userHtml = '<p class = "userText"><span>' + initialText + '</span></p>';
            $("#chatbox").append(userHtml);
            var quickRepliesData = ['Rent', 'Buy']
            let chips = "";
            for (let i = 0; i < quickRepliesData.length; i += 1) {
                const chip = `<div class="chip" data-payload='${quickRepliesData[i]}'>${quickRepliesData[i]}</div>`;
                chips += chip;
            }
            const quickReplies = `<div class="quickReplies">${chips}</div><div class="clearfix"></div>`;
            $(quickReplies).appendTo(".chats").fadeIn(1000);
            const terminalResultsDiv = document.getElementById("chats");
            terminalResultsDiv.scrollTop = terminalResultsDiv.scrollHeight;
        }
        function closeForm() {
            document.getElementById("myForm").style.display = "none";
            document.getElementById("divimg").style.display = "block";
        }
        function getBotResponse(message) {
            var rawText = message;
            $.get("/get", { msg: rawText }).done(function (data) {
                debugger;
                let quickRepliesData = [];
                let chips = "";
                if (data.startsWith("R-") || data.startsWith("B-")) {
                    if (data.startsWith("R-")) {
                        type = "rent";
                        amount = data.split('-')[1];
                        const chip = `<div class="chip">Click To View Results</div>`;
                        chips += chip;
                        const quickReplies = `<div class="quickReplies">${chips}</div><div class="clearfix"></div>`;
                        $(quickReplies).appendTo(".chats").fadeIn(1000);
                        const terminalResultsDiv = document.getElementById("chats");
                        terminalResultsDiv.scrollTop = terminalResultsDiv.scrollHeight;
                    }
                    else {
                        type = "buy";
                        amount = data.split('-')[1];
                        const chip = `<div class="chip">Click To View Results</div>`;
                        chips += chip;
                        const quickReplies = `<div class="quickReplies">${chips}</div><div class="clearfix"></div>`;
                        $(quickReplies).appendTo(".chats").fadeIn(1000);
                        const terminalResultsDiv = document.getElementById("chats");
                        terminalResultsDiv.scrollTop = terminalResultsDiv.scrollHeight;
                    }
                }
                else {
                    let answ = data.split('\\n');
                    answ.forEach(function (obj) {
                        quickRepliesData.push(obj);
                    });
                    for (let i = 0; i < quickRepliesData.length; i += 1) {
                        const chip = `<div class="chip" data-payload='${quickRepliesData[i]}'>${quickRepliesData[i]}</div>`;
                        chips += chip;
                    }
                    const quickReplies = `<div class="quickReplies">${chips}</div><div class="clearfix"></div>`;
                    $(quickReplies).appendTo(".chats").fadeIn(1000);
                    const terminalResultsDiv = document.getElementById("chats");
                    terminalResultsDiv.scrollTop = terminalResultsDiv.scrollHeight;
                }
            });
        }
    </script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="*">
</body>

</html>