<!DOCTYPE html>
<html lang="en">

<head>
    <title>Accomodation</title>
    <meta charset="UTF-8">
    <link href="static/styles.css" rel="stylesheet" type="text/css">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <script src="https://kit.fontawesome.com/e09918d621.js" crossorigin="*"></script>
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="static/js/loadhome.js"></script>
</head>

<body>
    <div class="container">
        <nav class="navigation">
            <ul>
                <li class="leftalignIL">
                   <a href="../sellandlethouses/home.html">Home</a>
                </li>
                <li class="rightalignIL">
                    <a href="#foot">Contact Us</a>
                </li>
            </ul>
        </nav>

        <div class="dropdown">
            <div class="ddType">
                Type:
                <select id="filterType" class="dd" onchange="ddlTypeFunction()">
                    <option value="-1" selected>Show all</option>
                    <option value="1">Buy</option>
                    <option value="2">Rent</option>
                </select>
            </div>
            <div class="ddPrice">
                Price:
                <select id="filterPrice" class="dd" onchange="ddlPricesFunction()">
                    <option value="-1" selected>Show all</option>
                </select>
            </div>
        </div>

        <article class="">
            <div id="mydiv" class="contentDiv">
            </div>

        </article>
        <footer id="foot" class="footer">
            45 Amiens Street<br />
            Near Connolly Station<br />
            Dublin 01<br />
            Tel : 0897777777 , Fax : +1 323 555 1234<br />
            Email : contactus@buynrenthouse.com
        </footer>
        <div id = "divimg" class="Chatplug">
            <i class="far fa-comments"onclick="openForm()"></i>
        </div>
        
        <div class="chat-popup" id="myForm"> 
          <div class="chatbox__header">
            🏡Property Chat Helper
          </div>
            <div id = "chatbox" class="chatboxDiv"></div>
        
            <div class="form-container" style=" border-radius: 5px; ">
                <div class="chats" id="chats">
                  <div class="clearfix"></div>
                </div>
                    <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
            </div>
        </div>
    </div>
    <script>

        function showQuickReplies() {
          var quickRepliesData = ['Rent','Buy']
            let chips = "";
            for (let i = 0; i < quickRepliesData.length; i += 1) {
                const chip = `<div class="chip" data-payload='${quickRepliesData[i]}'>${quickRepliesData[i]}</div>`;
                chips += chip;
            }
            const quickReplies = `<div class="quickReplies">${chips}</div><div class="clearfix"></div>`;
            $(quickReplies).appendTo(".chats").fadeIn(1000);
            
            const terminalResultsDiv = document.getElementById("chats");
            terminalResultsDiv.scrollTop = terminalResultsDiv.scrollHeight;
        }
        
        
        // on click of quickreplies, get the payload value and send
        $(document).on("click", ".quickReplies .chip", function () {
            const text = this.innerText;
            const payload = this.getAttribute("data-payload");
            //console.log("chip payload: ", this.getAttribute("data-payload"));
            setUserResponse(text);
            getBotResponse(text);
            $(".quickReplies").remove();
        });
        
        function setUserResponse(message) {
            const user_response = `<img class="userAvatar" src="static/img/userAvatar.jpg"><p class="userMsg">${message} </p><div class="clearfix"></div>`;
            $("#chatbox").append(user_response);
            $(".usrInput").val("");
            //scrollToBottomOfResults();
            //showBotTyping();
            $(".suggestions").remove();
        }
        
        </script>
        
        <script>
        function openForm() {
          document.getElementById("myForm").style.display = "block";
          document.getElementById("divimg").style.display = "none";
          document.getElementById("chatbox").innerHTML = "";
          document.getElementById("chats").innerHTML = "";
          var initialText="Hello Welcome to Buy or Rent. What would you like to do?";
            var userHtml = '<p class = "userText"><span>' + initialText + '</span></p>';
            $("#textInput").val("");
            $("#chatbox").append(userHtml);
            var quickRepliesData = ['Rent','Buy']
            let chips = "";
            for (let i = 0; i < quickRepliesData.length; i += 1) {
                const chip = `<div class="chip" data-payload='${quickRepliesData[i]}'>${quickRepliesData[i]}</div>`;
                chips += chip;
            }
        
            const quickReplies = `<div class="quickReplies">${chips}</div><div class="clearfix"></div>`;
            $(quickReplies).appendTo(".chats").fadeIn(1000);
            
            const terminalResultsDiv = document.getElementById("chats");
            terminalResultsDiv.scrollTop = terminalResultsDiv.scrollHeight;
        }
        
        function closeForm() {
          document.getElementById("myForm").style.display = "none";
          document.getElementById("divimg").style.display = "block";
        }
        function getBotResponse(message){
            var rawText = message;
            $.get("/get", {msg:rawText }).done(function(data) {
            debugger;
            let quickRepliesData = [];
            let arr = data;
            let answ = arr.split('\\n');
            answ.forEach(function(obj)
            {
                quickRepliesData.push(obj);
            });
            let chips = "";
            for (let i = 0; i < quickRepliesData.length; i += 1) {
                const chip = `<div class="chip" data-payload='${quickRepliesData[i]}'>${quickRepliesData[i]}</div>`;
                chips += chip;
            }
            const quickReplies = `<div class="quickReplies">${chips}</div><div class="clearfix"></div>`;
            $(quickReplies).appendTo(".chats").fadeIn(1000);
            const terminalResultsDiv = document.getElementById("chats");
            terminalResultsDiv.scrollTop = terminalResultsDiv.scrollHeight;
            //document.getElementById('userInput').scrollIntoView({block : 'start',behaviour:'smooth'});
            });
            }
        
            $("#textInput").keypress(function(e){ 
            if(e.which == 13) {
            getBotResponse();
            showQuickReplies();
            }
            });
        
            $("#buttonInput").click(function() {
            getBotResponse();
            showQuickReplies();
            })
        </script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="*">
</body>
<!-- <script src="loadhome.js"></script> -->
</html>